body{
    background-color: rgb(19, 24, 24);
}

.escoge{
    color: aqua;
    text-align: center;
}

.prueba{
    background-color: brown;
}
.seleccionEpisodio{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 5px;
    margin: 5px;
}


.seleccionEpisodio img{
    max-width: 250px;
    margin: 5px;
}