.nav{
    background-color: rgb(0, 0, 0);
    color: white;
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 0 1rem;
}

.nav ul{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}

.nav img{
    max-height: 45px;
    border: solid 1px;
    border-color: #efd520;
    border-radius: 10px;
    padding: 5px;
    margin: 5px 2px;

}

.tituloNav{
    text-align: center;
    width: 80vw;
}

